{% load static %}


<div class="container">
</div>

<nav class="navbar navbar-light" style="background-color: transparent;border-bottom: solid 1px #ddd;">
  <div class="container">
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-center  nav-pills">
        
        <li class="{% if request.path == '/catalog/video-upload' %} active{% endif %}">
          <a class="nav-link " href="{% url 'catalog:video-upload' %}"
            class="list-group-item"><b>Home</b></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>